/* Lato (Latin subset), by Łukasz Dziedzic — SIL Open Font License 1.1.
   The app runs in Electron's Chromium, so the WOFF2 files are all it needs. */
@font-face {
  font-family: "LatoLatinWeb";
  src: url("fonts/LatoLatin-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: bold;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoLatinWeb";
  src: url("fonts/LatoLatin-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}

@font-face {
  font-family: "LatoLatinWebLight";
  src: url("fonts/LatoLatin-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
  text-rendering: optimizeLegibility;
}
